body {
    background-color: #087588; 
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}
h1 {
    color: #1a9e93;
    text-align: center;
    font-size: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
p {
    text-align: center;
    font-size: 150px;
    color: #fff;
    margin-top: 20px;
}